<div class="container">
    <h3 class="text-center mt-4" style="font-size: 16px;">Our Data plans are available in 154+ countries</h3>
    <div class="row mt-4" style="overflow: hidden;">
        <div class="col-md-3 col-sm-6" *ngFor="let country of countries">
            <div class="card mb-3 flag_card">
                <img src="https://flagsapi.com/{{country.cc}}/shiny/64.png" class="card-img-top" alt="{{ country.name }} Flag">
                <div class="card-body">
                    <p class="card-text text-center">{{ country.name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>