<div class="container mt-3" style="max-width: 650px;">
    <div class="row" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; border-radius: 30px;
    margin: 5px;">
        <div class="col-md-7">
            <div class="card" id="referral_card">
                <div>
                    <h3 class="card-title text-primary d-block d-md-none" style="font-size: 24px;font-weight: 600;">Your Referral Code</h3>
                </div>
                <div class="mt-3 d-block d-md-none">
                    <img src="../../assets/images/referral.svg.svg" alt="Refer a friend" width="300px">
                </div>
                <div class="card-body">
                    <h3 class="card-title text-primary mt-1 d-md-block d-none" style="font-size: 24px;font-weight: 600;">Your Referral Code</h3>
                    <p class="card-text" id="referralCode">{{referral}}</p>
                    <button class="custom_button" (click)="copyReferralCode()">
                        <i class="bi {{iconType}}"></i>&nbsp;&nbsp;{{buttonText}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-5 d-md-flex d-none">
            <img src="../../assets/images/referral.svg.svg" alt="Refer a friend" width="230px">
        </div>
    </div>
</div>