<div class="container mt-3 bundle_comp">
    <div class="row d-flex">
        <div class="col-md-12">
            <div class="my_bundle_header">
                My Active Bundle
            </div>
            <div class="card my_bundle_card"
                style="width:100%; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; border: 0px;">
                <div class="card-body">
                    <h5 class="card-title text-primary">DayPass : Unlimited DayPass</h5>
                    <h6 class="card-subtitle mb-2 text-success" style="font-size: 13px;">Purchase on Dec 16, 2023 09:42 AM</h6>
                    <h6 class="card-subtitle mb-2 text-danger" style="font-size: 13px;">Expires on Dec 19, 2023 09:42 AM</h6>
                    <ul class="list-group list-group-flush bundle_info_list">
                        <li class="list-group-item">
                            <i class="bi bi-arrow-down-up"></i>
                            <span>500 MB high speed</span>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-qr-code"></i>
                            <span>Roamability_500M_DP</span>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-tags"></i>
                            <span>EUR 8 /-</span>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-check-circle"></i>
                            <span>VALID</span>
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-globe-europe-africa"></i>
                            <span>Available in 140 + countries</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>