.my_bundle_header {
    margin: 10px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.bundle_comp {
    max-width: 800px;
}

.bundle_info_list {
    margin-top: 2rem;
    border: 3px solid #efeefe;
    border-radius: 20px;
}

.bundle_info_list li span {
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
}

.bundle_info_list li {
    border-bottom: 0px;
}

.my_bundle_card {
    border-radius: 10px;
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
}

.my_bundle_no_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; border: 0px;
    border-radius: 10px;
    padding: 1rem;
    color: rgb(240, 100, 100);
}

.recharge_button {
    border: none;
    width: 120px;
    font-size: 14px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
}