<div class="container mt-3 bundle_comp">
    <div class="row d-flex justify-content-center" style="font-size: 13px;font-weight: 600;
    color: #119fdb;cursor: pointer;" *ngIf="isSpeedLimitApplied" data-bs-toggle="modal" data-bs-target="#speedLimitModal">A SPEED LIMIT
        IS APPLIED. CLICK HERE TO LEARN MORE</div>
    <div class="row d-flex px-2">
        <div class="col-md-12" *ngIf="activeBundle.length !== 0">
            <div class="my_bundle_header">
                Active Bundle
            </div>
            <div class="card my_bundle_card"
                style="width:100%; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; border: 0px;">
                <div class="card-body">
                    <h5 class="card-title text-primary" style="font-size: 18px;">{{activeBundle[0]?.goodsName}}</h5>
                    <h6 class="card-subtitle mb-2 text-success" style="font-size: 13px;">Purchased on
                        {{convertTimestamp(activeBundle[0].effectiveTime)}}</h6>
                    <h6 class="card-subtitle mb-2 text-danger" style="font-size: 13px;">Expires on
                        {{activeBundle.expiryTime !== 0 ? convertTimestamp(activeBundle[0].expiryTime) :
                        convertTimestamp(activeBundle[0].effectiveTime)}}</h6>
                </div>
            </div>
        </div>
        <div class="col-md-12" *ngIf="activeBundle.length == 0">
            <div class="my_bundle_header">
                Active Bundle
            </div>
            <div class="my_bundle_no_data">
                <div>
                    No Active Bundle Found
                </div>
                <div>
                    <button class="recharge_button" (click)="navigateToDataPlans()">Recharge</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex mt-4 px-2">
        <div class="col-md-12" *ngIf="readyForUsageBundle.length !== 0">
            <div class="my_bundle_header d-flex flex-column">
                <span class="d-flex justify-content-center">Bundle ready for Usage</span>
                <small class="form-text text-success mt-1 d-flex justify-content-center"
                    style="font-size: 12px;margin-left: 5px;font-weight: 600;">
                    Starts after your current active bundle expires
                </small>
            </div>
            <div class="card my_bundle_card"
                style="width:100%; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; border: 0px;"
                *ngFor="let item of readyForUsageBundle">
                <div class="card-body">
                    <h5 class="card-title text-primary" style="font-size: 18px;">{{item?.goodsName}}</h5>
                    <h6 class="card-subtitle mb-2 text-success" style="font-size: 13px;">Purchased on
                        {{convertTimestamp(item.effectiveTime)}}</h6>
                    <h6 class="card-subtitle mb-2 text-danger" style="font-size: 13px;">Expired on
                        {{convertTimestamp(item.expiryTime)}}</h6>
                </div>
            </div>
        </div>
        <div class="col-md-12" *ngIf="readyForUsageBundle.length == 0">
            <div class="my_bundle_header">
                Bundle ready for Usage
            </div>
            <div class="my_bundle_no_data">
                <span>No Ready To Use Bundles Found</span>
                <small class="form-text text-success mt-1"
                    style="font-size: 10px;margin-left: 5px;font-weight: 600;">(These Bundles get Activated as soon as
                    your current Data Plan expires. You can recharge them prior to the current bundle expiry)</small>
            </div>
        </div>
    </div>


    <div class="row d-flex mt-4 px-2">
        <div class="col-md-12" *ngIf="historyBundles.length !== 0">
            <div class="my_bundle_header">
                Purchase History
            </div>
            <div class="card my_bundle_card"
                style="width:100%; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; border: 0px;"
                *ngFor="let item of historyBundles">
                <div class="card-body">
                    <h5 class="card-title text-primary" style="font-size: 18px;">{{item?.goodsName}}</h5>
                    <h6 class="card-subtitle mb-2 text-success" style="font-size: 13px;">Purchased on
                        {{convertTimestamp(item.effectiveTime)}}</h6>
                    <h6 class="card-subtitle mb-2 text-danger" style="font-size: 13px;">Expired on
                        {{convertTimestamp(item.expiryTime)}}</h6>
                </div>
            </div>
        </div>
        <div class="col-md-12" *ngIf="historyBundles.length == 0">
            <div class="my_bundle_header">
                Purchase History
            </div>
            <div class="my_bundle_no_data">
                No Purchase History Found
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal modal-lg fade" id="speedLimitModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 bg-white p-4">
                            <h6 class="text-primary">What is speed limit?</h6>
                            <p>
                                All unlimited data plans start with a high-speed data bundle. After using the high-speed data of
                                your plan, "speed limit" appears on the home screen of your device. At that point, speed is capped
                                to a level where basic browsing, texting, and emailing are still possible.
                            </p>
                
                            <h6 class="text-primary">Need more high-speed data?</h6>
                            <p>You can purchase additional high-speed data plans in the "Data Plans" section.</p>
                
                            <h6 class="text-primary">Below is an overview of the included high-speed data of each unlimited subscription:</h6>
                            <ul>
                                <li>Day: 500MB (until midnight)</li>
                                <li>Week: 500MB/day (refreshes every midnight)</li>
                                <li>Unlimited 1 year: 2GB/month</li>
                                <li>Unlimited 1 year plus: 5GB/month</li>
                                <li>Unlimited 1 year gold: 20GB/month</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>